/* Estilos del Navbar */
.myBody {
	margin-top: 60px;
}

.fondoNavbar {
	position: fixed;
	margin-top: -60px;
	margin-left: -10px;
	padding: 0;
	width: 100vw;
	height: 60px;
	background-color: #C9C6C6;
}

.myNavBar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	margin-top: -60px;
	width: 92%;
	height: 60px;
	background-color: #C9C6C6;
	margin-left: 4%;
}

.myOptions {
	display: flex;
	justify-content: flex-end;
}

.myOptions > .nav > .nav-item > a{
	color: #000000 !important;
}

.areaUsuario {
	display: flex;
	align-items: center;
}

/* Estilos comunes */
.titulosComponentes {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	color: white;
	text-shadow: black 1px 1px 5px;
	line-height: 80px;
}

.contentComponentes {
	display: flex;
	justify-content: left;
	margin-left: auto;
	margin-right: auto;
	width: 85%;
	height: auto;
	border: 1px solid #A3A3A3;
	border-radius: 4px;
	box-shadow: black 3px 3px 10px;
	background-color: #F3F2F2;
	padding: 16px 50px;
}

.grupoPeriodo {
	display: flex;
	align-items: center;
	max-width: 196px;
}

#periodo {
	margin-left: 10px;
}

.fondoEncabezado {
	background-color: #7171AF;
}

.colAlinea {
	text-align: left;
}

.contenidoOpciones {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.filasMateria {
	height: 10px !important;
}

.colCodigo {
	text-align: center;
	min-width: 40px;
	width: 40px;
}

.colOpciones {
	width: 196px;
}

.colMateria {
	width: 496px;
}

.colSeccion {
	width: 30px;
}

.materiaelegida {
	text-align: left;
	color: #2D2D6D;
}

.tablasPlan {
	margin-left: auto;
	margin-right: auto;
	width: 900px;
}

.colNum {
	text-align: center;
	width: 80px;
}

.colNumeros {
	width: 120px;
}

.controltextPlan {
	width: 80px;
	margin-left: 50px;
}

